.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.My-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.Hello-world {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Funny-button {
    padding: 20px;
    background-color: #666666;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.Tab-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Tab-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Tab-content {
    font-size: 40px;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    border: 5px solid #61dafb;
    border-top: none;
    box-sizing: border-box;
    height: 200px;
}

.Tab {
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    border: 5px solid #666666;
    border-bottom: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
}

.Tab:nth-child(1) {
    border-top-right-radius: 0;
    border-right: none;
}

.Tab:nth-child(2) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    border-top: 5px solid #666666;
}

.Tab:nth-child(3) {
    border-top-left-radius: 0;
    border-left: none;
}

.Tab.open {
    border-color: #61dafb;
    border-bottom: 2px solid #61dafb;
}

.Tab.open:nth-child(1) {
    border-top-right-radius: 0;
    border-right: 2px solid #61dafb;
}

.Tab.open:nth-child(2) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 5px solid #61dafb;
    border-right: 2px solid #61dafb;
    border-left: 2px solid #61dafb;
}

.Tab.open:nth-child(3) {
    border-top-left-radius: 0;
    border-left: 2px solid #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
